.game-container {
  color: white;
}

.diff-button {
  width: 100%;
  margin-bottom: 1.25vw;
  padding: 0.3vw 1.2vw;
  border-radius: 5vw;
  border: 1px solid #e84598;
  background-color: #e84598;
  color: white;
  font-weight: 500;
  font-size: 1rem;
  letter-spacing: 0.05vw;
}

.diff-button:hover {
  background-color: #9953d6;
  border: 1px solid rgb(190, 111, 226);
  transition: 0.25s;
}

.new-button {
  margin-right: 10vw;
  padding: 0.3vw 2vw;
  border-radius: 5vw;
  border: none;
  background-color: #fbc646;
  color: #6b3888;
  font-weight: 500;
  font-size: 15px;
  letter-spacing: 0.05vw;
}

.new-button:hover {
  background-color: #eb337f;
  color: #fff2d3;
  transition: 0.25s;
}

.score {
  margin-left: 10vw;
  color: #fbc646;
}

.lightning-left {
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
}

#mobile-game-icon {
  width: 20vw;
  padding: 0;
  margin: 0;
}

.card {
  width: 100%;
  height: 23vh;
  background-color: #f0c1d9;
  color: #db7bab;
  font-size: 10vh;
  font-weight: bolder;
  border: 0.5vw solid #db8fb5;
  border-radius: 1.5vw;
  perspective: 1000px;
}

.card:hover {
  background-color: #db7bab;
  color: #f0c1d9;
  border: 0.5vw solid #f0c1d9;
  transition: 0.4s;
  cursor: pointer;
}

.card-front:hover {
  background-color: #db7bab;
  color: #f0c1d9;
  transition: 0.4s;
  cursor: pointer;
}

.card-inner {
  width: 100%;
  height: 100%;
  position: relative;
  transform-style: preserve-3d;
  transition: transform 0.4s;
}

.card-flipped .card-inner {
  transform: rotateY(180deg);
}

.card-face {
  position: absolute;
  backface-visibility: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
}

.card-back {
  width: 100%;
  height: 100%;
  background-color: #f0c1d9;
  color: #db7bab;
  font-size: 10vh;
  font-weight: bolder;
  border-radius: 1.5vw;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  transform: rotateY(180deg);
}

.card-front {
  width: 100%;
  height: 100%;
  background-color: #f0c1d9;
  color: #db7bab;
  font-size: 10vh;
font-weight: bolder;
  border-radius: 1.1vw;
  transform: rotateY(0deg);
}

.fruits {
  width: 90%;
}

.current-game-mode {
  background-color: #7139a1;
  border: 1px solid rgb(190, 111, 226);
}

@media only screen and (max-width: 600px) {
  .new-button {
    padding: 0vw 3vw;
    font-size: 14px;
  }

  .board-container {
    margin-bottom: 10vw;
  }

  .card {
    height: 17vh;
  }
}
